#map_container {
  width: 600px;
  height: 280px;
  float: left;
  border: 1px rgb(10, 10, 10) solid;
  border-radius: 20px;
  background-color: white;
}

body {
  font-family: "helvetica";
  background-color: #fbedc5;
  background-image: url(../images/texture_bg.jpg);
  background-repeat:repeat;
}

h1 {
  font-weight: 300;
}

.column {
  float: left;
}

.main {
  width: 600px;
}

.right {
  width: 370px;
}

#footer {
  float: left;
  clear: both;
  width: 100%;
  text-align: center;
  margin-top: 100px;
}

#legend {
  float: left;
  width: 600px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(10, 10, 10);
  margin-top: 10px;
}

#details {
  background-color: white;
  border-radius: 20px;
  border: 1px solid rgb(10, 10, 10);
  width: 370px;
  height: 440px;
  float: left;
  padding-top: 10px;
  margin-left: 10px;
}

#content {
  width: 1050px;
  margin: auto;
}

.bar {
  stroke: #999;
  stroke-width: 1px;
}

.over {
  stroke-width: 2px
}

#legend .gradient {
  margin: 15px 10px;
  height: 40px;
  width: 300px;
  float: left;
}

#legend .gradient span {
  float: left;
  margin: 5px 3px;
  font-size: 12px;
}

#legend .gradient .gradient-box {
  float: left;
}

#legend p {
  width: 250px;
  font-size: 10px;
  float: left;
}
}
